/.travis/
/build/
/examples/
/generate/
/guides/
/lib/
/test/
/vendor/Release/

!/include
!/src

.astylerc
.editorconfig
.gitignore
.gitmodules
.jshintrc
.travis.yml
appveyor.yml

!binding.gyp

*.filters
*.log
*.md
*.sln
*.vcxproj

vendor/libssh2/docs
vendor/libssh2/example
vendor/libssh2/tests

vendor/libgit2/.devcontainer
vendor/libgit2/.github
vendor/libgit2/.vscode
vendor/libgit2/ci
vendor/libgit2/docs
vendor/libgit2/examples
vendor/libgit2/tests
